body{
    font-size: 16px;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SzNAuoQkliufjsoz6/allianz-arena-munich-11-pan_hlzn7sswx_thumbnail-full01.png');
    background-repeat: no-repeat;
    height: 1080px;
    width: 100%;
    background-position: cover;

}
.grid-container{
    margin-top: 15rem;
    background-color: #000000a1;
    padding: 2rem;
    border-radius: 5rem;
}
.trump-card-right{
    background-color: #fbae55!important;
}
.trump-card{
    height: 100%;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #55c5fb;
    .trump-card-image-container{
        border-radius: 1rem;
            margin-bottom: 1rem;
            height: 15rem;
            width: 100%;
            background-color: #00000096;
        #trump-image-right{
            object-fit: cover;
            border-radius: 1rem;
            height: 100%;
            width: 100%;
        }
        #trump-image-left{
            object-fit: cover;
            border-radius: 1rem;
            height: 100%;
            width: 100%;
        }
    }

    .player-name{
        text-align: center;
    }
    .stat-container-grid{
        display: flex;
        .stat-container{
            width: 50%;
            text-align: center;
            .stat-div{
                display: flex;
                margin-left: 1rem;
                margin-bottom: 2rem;
                h4{
                    font-size: 1.2rem;
                     width: 8rem;
                }  
            }
            h1{
                font-size: 2rem;
            }
        }
    }
}
.game-info-container{
    .new-card{
        background-color: #9595ff;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        cursor: pointer;
    }
  
}