body {
  font-size: 16px;
}

.trump-card {
  height: 30rem;
  background-color: red;
}

.trump-card:nth-child(2) {
  background-color: green;
}

.trump-card:nth-child(3) {
  background-color: blue;
}

.trump-card .stat-container-grid {
  display: flex;
}

.trump-card .stat-container-grid .stat-container {
  width: 50%;
  text-align: center;
}

.trump-card .stat-container-grid .stat-container .stat-div {
  display: flex;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.trump-card .stat-container-grid .stat-container .new-card {
  background-color: #9595ff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
